/*@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);

body {
  font-family: "Libre Baskerville", serif; 
  font-weight: 400;
}*/


h1 {
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.2);
}

a {
  color: rgba(255, 255, 255, 0.25);
}

a:hover {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  border-bottom: 1px dotted;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

button a {
  color: rgba(0, 0, 0, 1);
}

.baltimore {
  font-size: 80%;
}

.champion-search {
  margin-botton: 25px;
}

.champ {
  margin-top: 20px; 
}

.logo {
  height: 50px;
  width: 50px;
}

.logo-text {
  font-size: 3em;
}

footer {
  bottom: 1px;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  width: 90%;
}

footer a {
  color: rgb(255,255,255);
}

.vertical-break {
  border-left: 1px solid;
  color: rgba(255,255,255, 0.05);
  margin-left: .25%;
  margin-right: .25%;
  display: inline;
}