extends layout

block content
  .wrapper
    header.row
      .span4
        h1.logo-text Metacademy
      .span4
        p 
          | Metacademy is engineered and designed to facilitate
          | quality discussion of League of Legends' metagame