
doctype 5
html(lang="en")
  head
    meta(charset='utf8')
    base(href='/')
    title Metacademy
    link(rel="stylesheet", href='bootstrap/css/bootstrap.css')
    link(rel="stylesheet", href='bootstrap/css/bootstrap-responsive.min.css')
    link(rel="stylesheet", href='css/darkstrap.css')
    link(rel="stylesheet", href='css/app.css')

  body
    header
      .navbar
        .navbar-inner
          .container
            a(class="brand", href="#")
              h1.logo-text.inline Metacademy

    article.wrapper.container

      block content

      footer
        ul.unstyled.inline
          li
            a(href="/index") Home
          .vertical-break
          li
            a(href="/versus") Versus
          .vertical-break
          li
            a(class="baltimore", href="http://madewithloveinbaltimore.org", target="_blank") Made with &hearts; in Baltimore

    script(src='lib/jquery-1.9.1.js')
    script(src='js/championslist.js')
    script(src='js/main.js')