
doctype 5
html(lang="en")
  head
    meta(charset='utf8')
    base(href='/')
    title Metacademy
    link(rel="stylesheet", href='bootstrap/css/bootstrap.css')
    link(rel="stylesheet", href='bootstrap/css/bootstrap-responsive.min.css')
    link(rel="stylesheet", href='css/darkstrap.css')
    link(rel="stylesheet", href='css/app.css')

  body(ng-app="metacademy",ng-cloak)
    header
      .navbar
        .navbar-inner
          a(class="brand", href="#")
            h4.logo-text.inline Metacademy
          ul.nav
            li 
              a(href="#") Home
            li 
              a(href="/versus") Versus


    article.wrapper.container

      block content

      footer
        ul.unstyled.inline
          li
            a(href="/index") Home
          .vertical-break
          li
            a(href="/versus") Versus
          .vertical-break
          li
            a(class="baltimore", href="http://madewithloveinbaltimore.org", target="_blank") Made with &hearts; in Baltimore

    link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
    script(type="text/javascript", src='lib/jquery-1.9.1.js')
    script(type="text/javascript", src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(type="text/javascript", src='js/championslist.js')
    script(type="text/javascript", src='js/championNames.js')
    script(type="text/javascript", src='components/angular/angular.js')
    script(type="text/javascript", src='bootstrap/js/bootstrap.js')
    script(type="text/javascript", src='js/main.js')
