extend layout

block content
  form
    p Player
    input(type="text", id="search-player")
    p Opponent
    input(type="text", id="search-opponent")
    div(class="btn")
      a#submit-button Submit

block templates
  script(type="text/x-handlebars", id="protip-template")

block scripts
  script(src="js/test.js")