button a {
  color: rgba(0, 0, 0, 1);
}

title {
  display: inline;
  font-size: 0.5em;
}

section.row {
  margin-top: 10px;
}

.prompt h3 {
  font-size: 2em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.05);
}

.champion-name {
  margin-top: -20px;
  text-align: center;
}

.champion-name h3 {
  display: inline-block;
  margin-bottom: 10px;
}

.champion-name p {
  display: inline;
  margin-left: 6px;

}

.champion-search {
  margin-botton: 25px;
}

.search {
  margin: 0 auto;
  width: 90%;
}

.search {
  margin-bottom: 10px;
}

.search label {
  font-size: 2em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.05);
  font-weight: 700;
  margin-right: 15px;
  display: inline-block
}

.champion-img {
  float: left;
  margin-right: 18.3333333px;
}

.ability {
  margin: 7.2px;
  display: inline-block;
}

.vertical-break {
  border-left: 1px solid;
  color: rgba(255,255,255, 0.05);
  margin-left: .25%;
  margin-right: .25%;
  display: inline;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

#header-links {
  float: right;
}

.card {
  background-color: #444444;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  padding: 15px;
}

.protip-description {
  font-weight: 300;
}

.user {
  display: inline-block;
  margin-right: 10px;
}

.upvotes {
  margin-top: 15px;
  display: inline-block;
}

.user-img {
  display: inline-block;
}

.user-info {
  float: right;
}

.protips-header {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.05);
  margin-left: 15px;
}