body {
  overflow: hidden;
}

h3 {
  text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.5);
}

a {
  color: rgba(255, 255, 255, 0.25);
}

a:hover {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  border-bottom: 1px dotted;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

button a {
  color: rgba(0, 0, 0, 1);
}

title {
  font-size: 0.5em;
}

section.row {
  margin-top: 10px;
}

.tabs li a {
  color: #c6c6c6;
}

td {
  margin: 10px;
}

.card {
  background-color: #333;
}

.abilities {
  margin: 5px;
  display: inline;
}

.baltimore {
  font-size: 80%;
}

.champion-search {
  margin-botton: 25px;
}

footer {
  bottom: 5px;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  width: 90%;
}

footer a {
  color: rgb(255,255,255);
}

.vertical-break {
  border-left: 1px solid;
  color: rgba(255,255,255, 0.05);
  margin-left: .25%;
  margin-right: .25%;
  display: inline;
}

.champion-title {
  float: right;
}

.champion-img {
  float: left;
  margin-right: 18.3333333px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
