.protips-grid > li {

}

button a {
  color: rgba(0, 0, 0, 1);
}

title {
  display: inline;
  font-size: 0.5em;
}

section.row {
  margin-top: 10px;
}

.tabs li a {
  color: #c6c6c6;
}

.card {
  background-color: #444444;
}

.champion-name {
  margin-top: -20px;
  text-align: center;
}

.champion-name h3 {
  display: inline-block;
}

.champion-name p {
  display: inline;
  margin-left: 6px;
}

.champion-search {
  margin-botton: 25px;
}

.champion-title {
  float: right;
}

.search label {
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 12px;
  display: inline-block;
  vertical-align: ;
}

.champion-img {
  float: left;
  margin-right: 18.3333333px;
}

.ability {
  margin: 7.2px;
  display: inline-block;
}

.vertical-break {
  border-left: 1px solid;
  color: rgba(255,255,255, 0.05);
  margin-left: .25%;
  margin-right: .25%;
  display: inline;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
