// 
// Cards
// --------------------------------------------------

.card {
  background-color: rgba(0,0,0,0.05);
  padding: 15px;
  height: 175px;
  width: 175px;
  position: relative;
  margin-bottom: 30px;
  
  a {
    color: rgba(0,0,0,1);

    &:hover {
      color: rgba(0,0,0,0.75)
    }
  }
}

.card-champion {
  background-color: rgba(255,255,255,0.2);
  padding: 15px;
  position: relative;
}

.card-small {
  background-color: rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 30px;
  height: 105px;
  width: 100px;

  img {
    margin-left: 10px;
  }

  ul {
    margin-top: 7px;
  }
}
