// 
// Champions
// --------------------------------------------------

.champ-box {
  transition: all .2s ease;
}

.prompt {
  transition: all .2s ease;

  h3 {
    font-size: 2.5em;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 2px 0 rgba(255, 255, 255, 0.05);
  }  
}


.champion-name {
  margin-top: -20px;
  text-align: center;

  h3 {
    display: inline-block;
    margin-bottom: 10px;  
  }

  p {
    display: inline;
    margin-left: 6px;
  }

}

.search {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 10px;
}

.search label {
  transition: all .2s linear;
  font-size: 2.3em;
  text-align: center;
  font-weight: 700;
  margin-right: 15px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 2px 1px rgba(255, 255, 255, 0.05);
}


.champion-img {
  float: left;
  margin-right: 18.3333333px;
  display: inline-block;
}

.champion-abilities {
  padding-right: -10px;
}


.ability-key {
  margin: 7.2px;
  display: inline-block;
}

.ability-icon {
  height: 64px;
  width: 64px;
  margin: 7.2px;
  margin-left: 10px;
  display: inline-block;
}
