// 
// Context-bar
// --------------------------------------------------

.context-bar {
  height: 50px;
  width: 100%;
 
  ul {
    margin: 0 auto;
    margin-bottom: -20px;
    transition: all .2s ease;
  }
}