<div class="context-bar">
  <ul class="inline unstyled">
    <li>
      <a>
        <h3 ng-click="matchupsTab()",
             class="matchups-header",
             ng-class="{filled: selection == 'matchups'}">
          Matchups
        </h3>
      </a>
    </li>
    <li>
      <h3 class="tabs-extra">|</h3>
    </li>
    <li>
      <a>
        <h3 ng-click="protipsTab()",
             class="protips-header",
             ng-class="{filled: selection == 'protips'}">
             Protips
             <span class="unfilled" ng-show="player">for</span>  <span class="unfilled">{{player.name}}</span>  <span class="unfilled" ng-show="opponent">against</span>  <span class="unfilled">{{opponent.name}}</span>
        </h3>
      </a>
    </li>
  </ul>
  <hr>
</div>