<section class="container" ng-controller="ProtipsCtrl">
    <div class="row">
        <div class="protip span3" ng-repeat="protip in protips | limitTo:4">
            <div class="card">
                <h4 class="protip-description">
                    <a href="" bs-modal="'views/versus/protipModal.html'">{{protip.description}}</a>
                </h4>
                <div class="protip-info">
                    <div class="user-info">
                        <img src="http://placekitten.com/50/50" alt="" class="user-img">
                        <p class="user">{{protip.user}}</p>
                    </div>
                    <div class="upvotes">
                        <p><span class="label label-info">{{protip.upvotes}} &hearts;</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <a href="" ng-click="load()">Load more</a> | 
            <a href="" ng-submit="post()">Post protip</a>
        </div>
    </div>
</section>
