<section class="container" ng-controller="MatchupsCtrl">
    <div class="row">
        <div class="span2" ng-repeat="t in getTimes(6)">
            <div class="card-small">
                <img ng-src="http://na.leagueoflegends.com/sites/default/files/game_data/3.5.0.2/content/champion/icons/{{t}}.jpg" alt="">
                <ul class="unstyled inline votes">
                    <li>
                        <span class="label label-success">{{(14 * t * t) / t*2}}</span>
                    </li>
                    <li>
                        <span class="label label-important">{{(3 * t * t) / t*2}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span2" ng-repeat="t in getTimes(6)">
            <div class="card-small">
                <img ng-src="http://na.leagueoflegends.com/sites/default/files/game_data/3.5.0.2/content/champion/icons/{{t}}.jpg" alt="">
                <ul class="unstyled inline votes">
                    <li>
                        <span class="label label-success">{{(14 * t * t) / t*2}}</span>
                    </li>
                    <li>
                        <span class="label label-important">{{(3 * t * t) / t*2}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>